ul {
  display: flex;
  flex-flow: row wrap;
  flex-basis: auto;
  margin: 1rem;
  padding: 0;
}

li {
  list-style: none;
  background: #42a5f5;
  text-align: center;
  margin: 4px;
  padding: 0 8px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

li:hover {
  cursor: pointer;
  background: #80d6ff;
}

p {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}